<div class="container">
  <div class="row">
    <div class="col-sm-2">
      <img
        src="/assets/img/pp.jpeg"
        class="img-responsive img-circle img-thumbnail"
        alt="Tedy Bakali"
      />
    </div>
    <div class="col-sm-9">
      <h3>Software Engineer</h3>
      <h5>Summary</h5>
      

      <p>
        Web Developer with extensive
        experience designing, developing and project managing rich Internet
        applications, websites and databases. Consistent and reliable with
        strong technical knowledge and a passion for learning and adapting to
        new technology, I use my full range of communication, leadership and
        technical skills to deliver bespoke multi-faceted projects within
        deadline both when working alone and as part of a larger team.
      </p>

      <p>
        Technical Skills
      </p>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Backend</th>
            <th scope="col">FrontEnd</th>
            <th scope="col">RDBMS</th>
            <th scope="col">Testing</th>
            <th scope="col">Tooling</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>PHP 5, 7</td>
            <td>Angularjs</td>  
            <td>Mysql</td> 
            <td>Phpunit</td> 
            <td>Jenkins</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Java EE</td>
            <td>Angular >=2</td>
            <td>Oracle</td>
            <td>Protactor</td> 
            <td>GIT</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Cobol</td>
            <td>Backbone</td>
            <td>Postgress</td>
            <td>Karma</td>
            <td>SVN</td> 

          </tr>

          <tr>
            <th scope="row">4</th>
            <td>Visual Basic 6</td>
            <td>knockout</td>
            <td>MS Server</td>
            <td>Virtual Vox, Docker</td>
            <td>Vagrant, Puppet</td>
            

          </tr>

          <tr>
            <th scope="row">5</th>
            <td>.NET ASP4</td>
            <td>Typescript</td>
            <td></td>
            <td></td>
            <td></td>

          </tr>

          <tr>
            <th scope="row">6</th>
            <td>Nodejs + Express</td> 
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>NestJS</td> 
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
      <p>
        <!-- Back End: - OOP PHP - Model, View, Controller architecture pattern (MVC)
        - Databases: MySQL database design, maintenance and optimisations,
        Doctrine, MongoDB - Symfony 2 - Continuous integration (Jenkins,
        Vagrant, Jira, GIT, SVN) - PHPUnit (Unit testing, Functional testing) -
        APIs (Google,facebook, Vimeo, twitter) - LAMP stack Front End: - OOP
        JavaScript - Node.js - jQuery JavaScript Library and DOM use, for
        creating rich user experience - HTML5, CSS3, LESS/SASS CSS, Twitter
        Bootstrap, Compass, Responsive design, Mobile First - Frameworks
        (AngularJS, Express.js, Backbone) - Grunt, Bower - SEO - MEAN stack
        Other: - Solutions Architect (Project analysis, Tasks breakdown,
        Documentations, Wireframes, Time estimates) - Web hosting (Linux server,
        WHM, cPanel, name servers, DNS, SSL, Google Accounts) - Agile & Scrum -
        Software: PhpStorm, SublimeText, Eclipse, Adobe Suite - OS: Linux
        (Ubuntu, Debian, CentOs), MacOS, Windows -->
      </p>


    </div>
  </div>
</div>
