<div class="container">


    <div class="row">
        <div class="col-sm-2"> <img src="/assets/img/mifoto.jpg" class="img-responsive img-circle img-thumbnail"
                alt="Tedy Bakali" />
        </div>
        <div class="col-sm-9">
            <h3>Software Enginner</h3>
            <p>Summary</p>

            <p>
                I am a highly skilled, solutions-focussed Web Developer with extensive experience designing, developing
                and project managing rich Internet applications, websites and databases. Consistent and reliable with
                strong technical knowledge and a passion for learning and adapting to new technology, I use my full
                range of communication, leadership and technical skills to deliver bespoke multi-faceted projects within
                deadline both when working alone and as part of a larger team.
                <p>
                Technical Skills
                </p>
                <p>
                Back End: - OOP PHP - Model, View, Controller architecture pattern (MVC) - Databases: MySQL database
                design, maintenance and optimisations, Doctrine, MongoDB - Symfony 2 - Continuous integration (Jenkins,
                Vagrant, Jira, GIT, SVN) - PHPUnit (Unit testing, Functional testing) - APIs (Google,facebook, Vimeo,
                twitter) - LAMP stack
                Front End: - OOP JavaScript - Node.js - jQuery JavaScript Library and DOM use, for creating rich user
                experience - HTML5, CSS3, LESS/SASS CSS, Twitter Bootstrap, Compass, Responsive design, Mobile First -
                Frameworks (AngularJS, Express.js, Backbone) - Grunt, Bower - SEO - MEAN stack
                Other: - Solutions Architect (Project analysis, Tasks breakdown, Documentations, Wireframes, Time
                estimates) - Web hosting (Linux server, WHM, cPanel, name servers, DNS, SSL, Google Accounts) - Agile &
                Scrum - Software: PhpStorm, SublimeText, Eclipse, Adobe Suite - OS: Linux (Ubuntu, Debian, CentOs),
                MacOS, Windows
            </p>

            <p>Work Experience</p>
            <p>Full stack Developer 2017-Sep - 2018-Sep DWELL FURNITURES </p>
            <p>
            website: https://www.dwell.co.uk
            Working with designers, Front End and project management staff to capture requirements for the functional
            elements of website projects. Also responsible for liaising with clients and ensuring that all work carried
            out complies with standards and guidelines.
            Duties:
            • Building PHP websites using PHP based frameworks.
            • Planning and conducting cross-browser usability testing against W3C.
            • Testing and validating work produced as part of the development process. Developing advanced database
            driven websites & systems including eCommerce.
            • Back end development and maintenance of websites using PHP and MySQL.
            • Developing compatible User Interface functionality using jQuery & other libraries.
            • Developing web sites using MySQL, PHP & other programming tools.
            • Working in a data analyst role and with business intelligence applications.
            •
            Documenting features, technical specifications & infrastructure requirements.
            • Working with a multi-disciplinary team to convert business needs into technical specifications
            </p>
            <p>
            Full Stack Developer 2017-Apr – 2017-Sep HEARST Magazines UK
        </p>
        <p>
            website: https://www.cosmpolitan.com/uk/
        </p>
        <p>
            website: https://www.harpersbazaar.com/uk/
        </p>
        <p>
            Work closely with all members of a widely spread agile team to deliver new functionalities in order to
            built-in a new CMS. I have participated in all agile planning meetings and daily stand-ups in order to
            improve the platform. Technologies: • Event driven architecture • Multilingual (Python, php, javascript, go)
            • Docker containers and
            Full Stack Developer 2016-Apr – 2017-Apr Savewater Savemoney
            website: https://www.savewatersavemoney.co.uk/
            Maintain and update the online marketing plan for the website, testing against W3C and validating work
            produced as part of the development process. Documenting features, write technical specifications &
            infrastructure requirements, monitor key performance. Designed and implemented APIs to support mobile
            applications
        </p>
            Technologies:
            • Laravel as PHP 5.2.
            • Angularjs • MySQL
            • Phpunit
            • Sass, bower


            Full Stack Developer 2015 -Sep – 2016 - Mar At Sistemas (Spain)
            website: https://www.atsistemas.com/en
            • Optimization mysql queries on heavy traffic website
            • Refactoring legacy code and implementing new functionalities
            • Handled PHP backend development for dynamic database driven website
            • Implemented, prepared, executed and installed support to assure quality system changes
            • Communicated with clients to meet up with their requirements • Performed oth

            Full Stack Developer 2015 Mar - 2015 Aug Dict 8
            website: https://www.dict8.com
            • Build a new enviroment using with Puppet , vagrant based Linux environments (centos).
            • Check data validation in controllers ( Phalcon framework),
            • Build a Dashboard to manage all system users
            • Create php unit tests using guzzle as http client.

            Backend Developer 2015 Jan –2015 Feb Gimo
            websites: https://www.casino777.be/en website: https://www.gimo.co.uk/
            • Build a web services based in soap (xml)


            Web Developer 2014 Sep – 2015 Dec Door Entry Direct
            • Build an intra-net website using Drupal 7
            • Developing & implementing REST API in order to design a new web functionality

            Web Developer 2014 Jan –2014 Aug Adlancia
            websites: https://www.iheartstudios.com/
            • Working with graphics designer to implement changes to site.
            • Secured servers against critical security vulnerabilities.
            • Quickly, diagnosed and helped fix memory consumption problem for corporate site.

            Web Developer 2013 Aug –2013 Dec Tech Solution Shop Yume Tech Solution | Chalatengo, El Salvador (online
            shop)
            Create website () with PHP required a new normalized MySQL database, extensive SQL query optimization, a
            database conversion application and PHP application development. Also wrote custom JavaScript functions for
            a statistical reporting application and assisted in supporting
            Web Developer and Database Administrator 1997 - 2013 City Council of Seville,
            Department of Transport Engineering
            • Integrate technologies in the fields of Intelligent Transport Systems (ITSs)
            • Managing database security/integrity and backup procedures
            • Implementing security measures
            • Testing and modifying databases to ensure that they operate reliablya
            • Update websites with new content.
            • measure quality assurance programs in all content.
            • Maintain websites

            EDUCATION
            Advanced diploma in computer Science (Seville, Spain)
            Degree in Law, University of Seville - Seville, Seville 2002

            LANGUAGES
            • English
            • Spanish
            • Portuguese



        </div>

    </div>

</div>