

<section class="index-link">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="link-area">
                    <h3>ABOUT ME</h3>
                    <P>Building Consensus among your Senior leaders to leverage your digital strengths and work on gaps which are hindering your growth.</P>
                    <li class="fa-li"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li class="fa-li"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li class="fa-li"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                </div>
            </div>
            <div class="col-md-3">
                <div class="link-area">
                    <h3>Arquitecture</h3>
                    <ul>
                    <li><a href="#"> Arquitecture 1</a></li>
                    <li><a href="#"> Arquitecture 2</a></li>
 
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="link-area">
                    <h3>Blogs</h3>
                    <ul>
                    <li><a href="#"> Home</a></li>
                    <li><a href="#"> Blog</a></li>
                    <li><a href="#"> About</a></li>
                    <li><a href="#"> contact</a></li>
                    <li><a href="#"> Jobs</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="link-area">
                    <h3>Links</h3>
                    <ul>
                    <li><a href="#"> Links-1</a></li>
                    <li><a href="#"> Links-2</a></li>
                    <li><a href="#"> Links-3</a></li>
                    <li><a href="#"> Links-4</a></li>
                    <li><a href="#"> Links-5</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="index-social">
    <div class="container">
    <div class="row index-social-link text-center">
            <p class="copy-c">Mohtadi Bakali 2020.</p>
        </div>
        </div>
</section>